
$primary: #20c997;
$green: #00FFC4;
$brand-primary: $green; 
$link-color:$green;


$font-family-sans-serif: "Raleway", Roboto, "Helvetica Neue", Arial, sans-serif;

@import '~bootstrap/scss/bootstrap.scss';
